{% extends 'base.html' %}
<html>
<head>
    <title>Home page</title>
</head>
<body>
{% block content %}
<dl>

    <dt class="font-weight-bold">About Founder:   </dt>
    <dd>Mr N. Durga Prasad ( M.Tech), Founder and CEO of Durgasoftware Solutions, His PostGraduate from Andhra University</dd>
    <dt class="font-weight-bold">About Durgasoft:  </dt>
    <dd>The training at DURGA SOFT is not just like normal classroom sessions. <br>The training is completely industry oriented and interview oriented.<br>During the initial days of training itself, trainees will get the confidence that they can get through any difficult interview or any tough job.<br>All the concepts will be taught with realtime exam ples and in an easily understandable way.</dd>
    <dt class="font-weight-bold">Achievements:  </dt>
    <td>
        <ol>
            <li>So many syudents placed in MNC's</li>
            <li>Durgasoft is highly successful in providing training to thousands of students</li>
            <li>Durgasoft with the most experienced trainers and with the most effective training methodologies.</li>
        </ol>
    </td>
</dl>
{% endblock %}
</body>
</html>

